LoadBalacer-CS-DrappingServiceUtility/DrappingTestLoadBalancer-Client/DrappingTestLoadBalancer/Service References/DrappingServiceRoutine/DrappingServiceRoutine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DrappingServiceRoutine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50304/DrappingServiceRoutine.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50304/DrappingServiceRoutine.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50304/DrappingServiceRoutine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DrappingServiceRoutine.RequestDto" />
      <xsd:import schemaLocation="http://localhost:50304/DrappingServiceRoutine.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:50304/DrappingServiceRoutine.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DrappingServiceRoutine.ResponseDto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDrappingServiceRoutine_IsFileExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsFileExist" />
  </wsdl:message>
  <wsdl:message name="IDrappingServiceRoutine_IsFileExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsFileExistResponse" />
  </wsdl:message>
  <wsdl:message name="IDrappingServiceRoutine_DrapImage_InputMessage">
    <wsdl:part name="parameters" element="tns:DrapImage" />
  </wsdl:message>
  <wsdl:message name="IDrappingServiceRoutine_DrapImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DrapImageResponse" />
  </wsdl:message>
  <wsdl:message name="IDrappingServiceRoutine_SaveImage_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveImage" />
  </wsdl:message>
  <wsdl:message name="IDrappingServiceRoutine_SaveImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IDrappingServiceRoutine">
    <wsdl:operation name="IsFileExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/IsFileExist" message="tns:IDrappingServiceRoutine_IsFileExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/IsFileExistResponse" message="tns:IDrappingServiceRoutine_IsFileExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DrapImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/DrapImage" message="tns:IDrappingServiceRoutine_DrapImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/DrapImageResponse" message="tns:IDrappingServiceRoutine_DrapImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/SaveImage" message="tns:IDrappingServiceRoutine_SaveImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDrappingServiceRoutine/SaveImageResponse" message="tns:IDrappingServiceRoutine_SaveImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDrappingServiceRoutine" type="tns:IDrappingServiceRoutine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsFileExist">
      <soap:operation soapAction="http://tempuri.org/IDrappingServiceRoutine/IsFileExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DrapImage">
      <soap:operation soapAction="http://tempuri.org/IDrappingServiceRoutine/DrapImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveImage">
      <soap:operation soapAction="http://tempuri.org/IDrappingServiceRoutine/SaveImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DrappingServiceRoutine">
    <wsdl:port name="BasicHttpBinding_IDrappingServiceRoutine" binding="tns:BasicHttpBinding_IDrappingServiceRoutine">
      <soap:address location="http://localhost:50304/DrappingServiceRoutine.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>